/* Google Fonts */

h1{
	font-family: 'Fredericka the Great', cursive;
}

#questionDiv{
	font-family: 'EB Garamond', serif;

}

input{
	margin: 5px;
}

#maintext-Container{
	visibility: hidden;
}

.display-3{
	padding-bottom: 20px;
}

.questionDiv{
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	margin: 30px;
}

#startTimer{
	text-align: center;
}

footer{
	text-align: center;
}

.jumbotron{
	background-color: pink;
}