/* Google Fonts */
body{
	font-family: 'PT Serif', serif;
}

h1{
	font-family: 'Fredericka the Great', cursive;
}

/* Gen Styling */
.jumbotron{
	background-image: url(../images/NewYorkDrawnSkyline.gif);
	opacity: 0.5;
}


input{
	margin: 5px;
}

.display-3{
	padding-bottom: 20px;
}

#questionDiv{
	visibility: hidden;
	border-style: solid;
	border-width: 0.5px;
	border-color: gray;
	margin: 30px;
}

footer{
	visibility: hidden;
	padding-bottom: 15px;
}

#startTimer, footer{
	text-align: center;
}

/* Coloring */
.jumbotron{
	background-color: pink;
}