/* Google Fonts */
body{
	font-family: 'PT Serif', serif;
}
h1{
	font-family: 'Fredericka the Great', cursive;
}

/* Gen Styling */

input{
	margin: 5px;
}

.display-3{
	padding-bottom: 20px;
}

/*
#maintext-Container{
	opacity: 0.5;
	background: url(image.jpg);
  	opacity: 0.5;
  	top: 0;
  	left: 0;
  	bottom: 0;
 	 right: 0;
 	 position: absolute;
  	z-index: -1;   
}
*/

#questionDiv{
	visibility: hidden;
	border-style: solid;
	border-width: 0.5px;
	border-color: gray;
	margin: 30px;
	background-image: url(../images/vale-finishedNYC.png);
	background-size: 100% 100%;
}

footer{
	visibility: hidden;
}

#startTimer, footer{
	text-align: center;
}

/* Coloring */
.jumbotron{
	background-color: pink;
}